<!-- <ul id="menu">
    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">studio</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">photos</a></li>
    <li data-menuanchor="3rdPage"><a href="#3rdPage">videos</a></li>
</ul> -->

<div id="fullpage">


  <div class="section" id="section1">

    <div class="slide" id="slide1">
      <div class="gallery">
        <h2>a b s t r a i t & c o n c e p t</h2>
        <div id="bigpic1" class="bigpic">
          <%= image_tag "photos/resize/creation/abstrait/01.jpg", alt: "photo1", id: "myImg" %>
        </div>
        <div id="myModal" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-contentent" id="img01">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
          <div class="rallonge"></div>
        </div>
        <div class="pic pic1">
          <%= image_tag "photos/resize/creation/abstrait/01.jpg", alt: "abstrait" %>
          <%= image_tag "photos/resize/creation/abstrait/02.jpg", alt: "abstrait" %>
          <%= image_tag "photos/resize/creation/abstrait/03.jpg", alt: "abstrait" %>
          <%= image_tag "photos/resize/creation/abstrait/04.jpg", alt: "abstrait", :class => "horizontal"  %>
          <%= image_tag "photos/resize/creation/concept/01.jpg", alt: "concept" %>
          <%= image_tag "photos/resize/creation/concept/02.jpg", alt: "concept" %>
          <%= image_tag "photos/resize/creation/concept/03.jpg", alt: "concept", :class => "horizontal"  %>
          <%= image_tag "photos/resize/creation/concept/04.jpg", alt: "concept" %>
          <%= image_tag "photos/resize/creation/concept/05.jpg", alt: "concept" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide2">
      <div class="gallery">
        <h2>d e s i g n</h2>
        <div id="carousel">
          <figure id="spinner">
            <%= image_tag "photos/resize/design/01.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/02.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/03.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/04.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/05.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/06.jpg", alt: "design" %>

          </figure>
        </div>
        <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
        <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide3">
      <div class="gallery">
        <h2>e r o t i q u e & p o r t r a i t</h2>
        <div class="bigpic">
          <%= image_tag "photos/resize/humain/erotique/01.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/02.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/03.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/04.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/05.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/01.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/02.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/03.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/04.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/05.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/06.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/07.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/08.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/09.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/09.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/10.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/11.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/12.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/13.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/14.jpg", alt: "portrait", class: "myImg2" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide4">
      <div class="gallery">
        <h2>n a t u r e</h2>
        <div class="d-flex justify-content-between">
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/01.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/02.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/03.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/04.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/05.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/06.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/07.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/08.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4">
            <%= image_tag "photos/resize/nature/08.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide5">
      <div class="gallery">
        <h2>r u r a l & u r b a i n</h2>
        <div id="bigpic5" class="bigpic">
          <%= image_tag "photos/resize/paysage/rural/01.jpg", alt: "photo1" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

  </div>

  <div class="section " id="section0">
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <div class="slide" id="slide0">
      <h2>* * *</h2>
      <h2>e x p e r i m e n t a t i o n s</h2>
      <h2>s o u n d s</h2>
      <h2>t h i n g s</h2>
      <h2>↓ ↓ ↓</h2>
      <div class="ClassCSS">
        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3576540185/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://threesomeunited.bandcamp.com/album/radion-supernature-ep">Radion - Supernature EP by Radion</a></iframe>
      </div>
<!--       <div class="lector">
        <iframe width="80%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/82188804&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/deepheads" title="Deep Heads" target="_blank" style="color: #cccccc; text-decoration: none;">Deep Heads</a> · <a href="https://soundcloud.com/deepheads/geode-feat-c-tivey-ruh-smokin" title="Geode Feat C Tivey &quot;Ruh&quot; [Out Now]" target="_blank" style="color: #cccccc; text-decoration: none;">Geode Feat C Tivey &quot;Ruh&quot; [Out Now]</a></div>
      </div>
      <div class="lector">
        <iframe width="80%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/106372521&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/victor-kiswell" title="victor kiswell" target="_blank" style="color: #cccccc; text-decoration: none;">victor kiswell</a> · <a href="https://soundcloud.com/victor-kiswell/latin-jazzystan" title="Latin Jazzystan" target="_blank" style="color: #cccccc; text-decoration: none;">Latin Jazzystan</a></div>
      </div>
      <div class="lector">
        <iframe width="80%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/610275660&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/inverted-audio" title="INVERTED AUDIO" target="_blank" style="color: #cccccc; text-decoration: none;">INVERTED AUDIO</a> · <a href="https://soundcloud.com/inverted-audio/faltydl-ill-bent-blueberry-records" title="FaltyDL – Ill Bent [Blueberry Records]" target="_blank" style="color: #cccccc; text-decoration: none;">FaltyDL – Ill Bent [Blueberry Records]</a></div>
      </div>
      <div class="lector">
        <iframe width="80%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/610090422&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/the-trilogy-tapes" title="The Trilogy Tapes" target="_blank" style="color: #cccccc; text-decoration: none;">The Trilogy Tapes</a> · <a href="https://soundcloud.com/the-trilogy-tapes/fft-loss" title="FFT – Loss" target="_blank" style="color: #cccccc; text-decoration: none;">FFT – Loss</a></div>
      </div> -->
    </div>
    <div class="slide" id="slide1">
      <div class="layer">
      <%#= image_tag "logos/girouette.png", alt: "abstrait", id: "logo" %>
        <br><br><br>
        <span id="AboutDevTypeText" class="typeing"></span><span class='blinker'>&#32;</span>
      </div>
      <%= video_tag "1393.mp4", id: "myVideo", loop: "", muted: "", type: "" "video/mp4", data: { autoplay: "null" } %>
    </div>

    <div class="slide" id="slide2a">
      <div class="row" style="justify-content: center;">
        <form action="https://formspree.io/xrgapyzy" method="POST" style="width: 220px;">
         <div class="form-group">
          <label>
            e m a i l:
            <input class="form-control" type="text" name="_replyto">
          </label>
        </div>
        <div class="form-group">
          <label>
            m e s s a g e:
            <textarea class="form-control" name="message"></textarea>
          </label>
        </div>
        <br>
        <button type="submit" class="draw meet real">Send</button>
      </form>
      </div>
    </div>
  </div>

  <div class="section" id="section2">
      <div class="panels">
        <div class="panel panel1">
          <p>* * *</p>
          <p>U N    O C E A N O  N O S    U N E</p>
          <p class="js-modal-btn" data-video-id="rmJkNMSejL8">play</p>
        </div>
        <div class="panel panel2 js-modal-btn" data-video-id="rmJkNMSejL8">
          <p>* * *</p>
          <p>I M W T</p>
          <p>* * *</p>
        </div>
        <div class="panel panel3 js-modal-btn" data-video-id="rmJkNMSejL8">
          <p>* * *</p>
          <p>S U C C U M B</p>
          <p>* * *</p>
        </div>
        <div class="panel panel4 js-modal-btn" data-video-id="rmJkNMSejL8">
          <p>* * *</p>
          <p>All</p>
          <p>* * *</p>
        </div>
        <div class="panel panel5 js-modal-btn" data-video-id="rmJkNMSejL8">
          <p>* * *</p>
          <p>L I T T L E    C H A N D L E R</p>
          <p>* * *</p>
        </div>
      </div>
    <%= image_tag "photos/resize/nature/08.jpg", alt: "photo1", class: "myImg3 js-modal-btn", data: { video_id: "rmJkNMSejL8" } %>



<!--     <div class="slide" id="slide1">
      <iframe width="95%" height="95%" src="https://www.youtube.com/embed/sBwaeeSgJZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide" id="slide2">
      <iframe width="95%" height="95%" src="https://www.youtube.com/embed/IKLsjYcglU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide" id="slide3">
      <iframe width="95%" height="95%" src="https://www.youtube.com/embed/rmJkNMSejL8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="slide" id="slide4">
      <iframe width="95%" height="95%" src="https://www.youtube.com/embed/ew5XlNW9-1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div> -->
</div>

<script>
  var angle = 0;
function galleryspin(sign) {
spinner = document.querySelector("#spinner");
if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
}
</script>
