<div id="fullpage">


  <div class="section" id="section1">

    <div class="slide" id="slide1">
      <div class="gallery">
        <h2>d e s i g n</h2>
        <div id="bigpic1" class="bigpic">
          <%= image_tag "photos/noresize/design/agone bordeaux.jpg", alt: "photo1", id: "myImg" %>
        </div>
        <div id="myModal" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-contentent" id="img01">

          <!-- Modal Caption (Image Text) -->
          <!-- <div id="caption"></div> -->
          <div class="rallonge"></div>
        </div>
        <div class="pic pic1">
          <%= image_tag "photos/noresize/design/agone bordeaux.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone buenos.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone camden.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone escalier.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone foinature.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone glasshouse.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone jackson.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone london.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone montpl.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone paris.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone paris2.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone passage.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone passage2.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone pont.jpg", alt: "design" %>
          <%= image_tag "photos/noresize/design/agone toit.jpg", alt: "design" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide2">
      <div class="gallery">
        <h2>m o o d</h2>
        <div class="bigpic">
          <%= image_tag "photos/noresize/mood/agone bouteille.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone camping.jpg", alt: "erotique", class: "myImg2 horizontal" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone coco.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone flacon.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone lavabo.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone letter.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone ny.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone sofa.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone texture.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone three lights.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone tomate.jpg", alt: "portrait", class: "myImg2 horizontal" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone verre.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone vinyle.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/noresize/mood/agone wine.jpg", alt: "portrait", class: "myImg2" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide3">
      <div class="gallery">
        <h2>e n e r g y</h2>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone kelly.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone ainhoa.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone camille.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-9 col-md-9 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone julie clara.jpg", alt: "photo1", class: "myImg3 horizontal" %>
          </div>
          <div class="bigpic bigpic4 col-lg-3 col-md-3 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone 3.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone carole.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone club.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone cours.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone flashback.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone jean.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone julien.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-3 col-md-3 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone mamie.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-9 col-md-9 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone mariage.jpg", alt: "photo1", class: "myImg3 horizontal" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone maxime.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone metro.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone mexique2.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone micki2.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone mickie.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone pied.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-9 col-md-9 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone monica.jpg", alt: "photo1", class: "myImg3 horizontal" %>
          </div>
          <div class="bigpic bigpic4 col-lg-3 col-md-3 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone robin.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone sacchi.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone sophie.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone stanju.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone valerie.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone yann 3.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone yann2.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div class="bigpic bigpic4 col-lg-9 col-md-9 col-sm-12">
            <%= image_tag "photos/noresize/energy/agone turquie.jpg", alt: "photo1", class: "myImg3 horizontal" %>
          </div>
        </div>

      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide4">
      <div class="gallery">
        <h2>l i g h t</h2>
        <div id="myModal4" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-contentent" id="img04">

          <!-- Modal Caption (Image Text) -->
          <!-- <div id="caption"></div> -->
          <div class="rallonge"></div>
        </div>
        <div id="carousel">
          <figure id="spinner">
            <%= image_tag "photos/noresize/light/agone light.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone manege.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone paint.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone pink.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone crea.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone feuille.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone firebody.jpg", alt: "light", class: "myImg4" %>
            <%= image_tag "photos/noresize/light/agone flash.jpg", alt: "light", class: "myImg4" %>

          </figure>
        </div>
        <span style="float:left; bottom:300px;" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
        <span style="float:right; bottom:300px;" class="ss-icon" onclick="galleryspin('')">&gt;</span>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide5">
      <div class="gallery">
        <h2>a t m o s p h e r e</h2>
        <div id="bigpic5" class="bigpic">
          <%= image_tag "photos/noresize/atmosphere/agone arbuste.jpg", alt: "photo1", class: "myImg5", id: "photo1" %>
          <%= image_tag "photos/noresize/atmosphere/agone foret.jpg", alt: "photo1", class: "myImg5", id: "photo2" %>
          <%= image_tag "photos/noresize/atmosphere/agone garronne.jpg", alt: "photo1", class: "myImg5 horizontal", id: "photo3" %>
          <%= image_tag "photos/noresize/atmosphere/agone horse.jpg", alt: "photo1", class: "myImg5 horizontal", id: "photo4" %>
          <%= image_tag "photos/noresize/atmosphere/agone london.jpg", alt: "photo1", class: "myImg5", id: "photo5" %>
          <%= image_tag "photos/noresize/atmosphere/agone luna park.jpg", alt: "photo1", class: "myImg5 horizontal", id: "photo6" %>
          <%= image_tag "photos/noresize/atmosphere/agone mousse.jpg", alt: "photo1", class: "myImg5", id: "photo7" %>
          <%= image_tag "photos/noresize/atmosphere/agone nuage.jpg", alt: "photo1", class: "myImg5 horizontal", id: "photo8" %>
          <%= image_tag "photos/noresize/atmosphere/agone paris.jpg", alt: "photo1", class: "myImg5", id: "photo9" %>
          <%= image_tag "photos/noresize/atmosphere/agone plage.jpg", alt: "photo1", class: "myImg5 horizontal", id: "photo10" %>
          <%= image_tag "photos/noresize/atmosphere/Agone pont rompu.jpg", alt: "photo1", class: "myImg5", id: "photo11" %>
          <%= image_tag "photos/noresize/atmosphere/agone pornic.jpg", alt: "photo1", class: "myImg5", id: "photo12" %>
          <%= image_tag "photos/noresize/atmosphere/agone rio.jpg", alt: "photo1", class: "myImg5", id: "photo13" %>
          <%= image_tag "photos/noresize/atmosphere/agone riviere.jpg", alt: "photo1", class: "myImg5", id: "photo14" %>
          <%= image_tag "photos/noresize/atmosphere/agone riviere2.jpg", alt: "photo1", class: "myImg5", id: "photo15" %>
          <%= image_tag "photos/noresize/atmosphere/agone waterloo.jpg", alt: "photo1", class: "myImg5", id: "photo16" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

  </div>

  <div class="section " id="section0">
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
        <span id="AboutDevTypeText" class="typeing"></span><span class='blinker'>&#32;</span>
    </div>

    <div class="slide" id="slide0">
      <h2>m e l o d i e s</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=7829836/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://threesomeunited.bandcamp.com/album/faur-saudade-rn147-ep">Faur - Saudade RN147 EP by Faur</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3576540185/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://threesomeunited.bandcamp.com/album/radion-supernature-ep">Radion - Supernature EP by Radion</a></iframe>
          </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1502144937/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm-021-formative-dubs-ep">BFDM 021 // FORMATIVE DUBS EP by JONQUERA</a></iframe>            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1406850086/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm-020-dogs-fart-is-so-bad-the-cat-throws-up">BFDM 020 // DOG&#39;S FART IS SO BAD THE CAT THROWS UP by J-ZBEL</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1397147831/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm-019-naked-light-ep">BFDM 019 // NAKED LIGHT EP by BASSES TERRES</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3124234616/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm010-les-portes-du-brionnais">BFDM010 // LES PORTES DU BRIONNAIS by The Pilotwings</a></iframe>            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2695233198/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm007-hyena-sticks-head-in-elephants-butt">BFDM007 // HYENA STICKS HEAD IN ELEPHANT&#39;S BUTT by J-Zbel</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3184756936/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm016-pour-faire-pleurer-les-ch-meurs-ep">BFDM016 // POUR FAIRE PLEURER LES CHÔMEURS EP by THE PILOTWINGS</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4187981005/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm014-pogdance-ep">BFDM014 // POGDANCE EP by Simo Cell</a></iframe>            </div>
          </div>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>
    <div class="slide" id="slide1">
      <%= audio_tag("hipbreak.mp3", id: "myAudio") %>
      <div id="background">
      </div>
        <%= video_tag "1393.mp4", id: "myVideo", loop: "", muted: "", type: "" "video/mp4", data: { autoplay: "null" } %>
        <h2 id="map"><span class="bigger">↑</span>flash     <span class="bigger">↓</span>tv     <span class="bigger">←</span> melodies      <span class="bigger">→</span> contact</p>

    </div>

    <div class="slide" id="slide2a">
      <h2></h2>
      <p class="contact-text" id="text-left"><span class="text-yellow">Hi</span>,

      this trip started about 7 years ago, approaching Earth smoothly and surely.

      I am pleased to see you here,  currently cruising in my studio.
      I have gathered here main of my artistic creations, it is all about vibrations.

      I have arranged my vessel like a museum, in which I invite everyone to lose himself. Throughout the visit of this spaceship, you shall find plenty treasures which all only aims to inspire you
      <br>
      Have a sensorial trip
      </p>
      <p class="contact-text" id="text-right"><span class="text-yellow">US / COLLAB</span><br><br>

      Which what where who ever you are, i am pretty sure ideas are floating in here

      Hit me up so that we carry the next step to create a solar bomb
      <br><br>
      See you around her
      </p>
      <div class="row" style="justify-content: center;">
        <form action="https://formspree.io/xrgapyzy" method="POST" id="form-contact" style="width: 45%;">
          <div class="form-group">
            <label style="width: 100%; font-size: 32px;">email</label>
            <input class="form-control" type="text" name="_replyto" style="text-align: center;">
          </div>
          <div class="form-group">
            <label style="width: 100%; font-size: 32px;">message</label>
            <textarea class="form-control" name="message" style="max-height: 150px;"></textarea>
          </div>
          <br>
          <button type="submit" class="spin circle real">S E N D</button>
        </form>
      </div>
      <div class="container">
        <div class="row flex-wrap">
          <div class="col-lg-1"><%= image_tag('francois.jpg') %></div>
          <div class="col-lg-11"><p id="photo-text">
            As Richie Hawtin once told me : “pleasure, always pleasure my friend”

            Pleasure can be created, but always from what already exists...

            I reveal to you with a hint of mischief some of my tracks for some already composed 7 years ago

            Since then, water has flowed under the bridge and the style has changed to something even more sensual, dreamlike and realistic, with inspirations and flavors of the world.

            Music being both a personal and universal language, and draws a circle. Each music is a universe which allows us to bow this circle. And as miscomprehension pulls attention, there’s probably in those worlds a light mystery being finally our little secret of each, and everyone.
            However, this dichotomy of frequencies stealing with verve the sense of words. A relation where it would not occur any particular line, direction, goal. If not a certain hope that makes pulse my heart in each of these adventures.

            Thus, each note is shaped to make the most sense and mingle with the dance of the others. Harmonies reveal a power without superiority, a place where each element is linked, no due to hazard but a common destiny

            The liberty of expression felt through composition goes beyond the physical relationships. Each music is of a pure philanthropic egoisme ; an opened door heterotopy.
            And our constant research leads us to new lands, into new microcosms with many languages.

            Adding words might stifle our imagination. Free to you to feel.
            <br>
            Great adventures
            <br>
            <br>
            AGONE
            </p>
          </div>
        </div>
      </div>

      <div class="rallonge"></div>
    </div>
  </div>

  <div class="section" id="section2">
      <div class="panels">
        <div class="panel panel1">
          <p class="opacite">* * *</p>
          <p class="play opacite">U N    O C E A N O  N O S    U N E</p>
          <p class="js-modal-youtube play" data-video-id="sBwaeeSgJZA">p l ▶ y</p>
        </div>
        <div class="panel panel2">
          <p class="opacite">* * *</p>
          <p class="play opacite">I M W T</p>
          <p class="js-modal-youtube play" data-video-id="IKLsjYcglU8">p l ▶ y</p>
        </div>
        <div class="panel panel3">
          <p class="opacite">* * *</p>
          <p class="play opacite">S U C C U M B</p>
          <p class="js-modal-youtube play" data-video-id="rmJkNMSejL8">p l ▶ y</p>
        </div>
        <div class="panel panel4">
          <p class="opacite">* * *</p>
          <p class="play opacite">L I T T L E    C H A N D L E R</p>
          <p class="js-modal-youtube play" data-video-id="ew5XlNW9-1Q">p l ▶ y</p>
        </div>
        <div class="panel panel5">
          <p class="opacite">* * *</p>
          <p class="play opacite">B A I L A N D O</p>
          <p class="js-modal-vimeo play" data-video-id="426228708">p l ▶ y</p>
        </div>
      </div>
</div>

<script>
  var angle = 0;
function galleryspin(sign) {
spinner = document.querySelector("#spinner");
if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
}
</script>
