<!-- <ul id="menu">
    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">studio</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">photos</a></li>
    <li data-menuanchor="3rdPage"><a href="#3rdPage">videos</a></li>
</ul> -->

<div id="fullpage">


  <div class="section" id="section1">

    <div class="slide" id="slide1">
      <div class="gallery">
        <h2>a b s t r a i t & c o n c e p t</h2>
        <div id="bigpic1" class="bigpic">
          <%= image_tag "photos/resize/creation/abstrait/01.jpg", alt: "photo1", id: "myImg" %>
        </div>
        <div id="myModal" class="modal">

          <!-- The Close Button -->
          <span class="close">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-contentent" id="img01">

          <!-- Modal Caption (Image Text) -->
          <!-- <div id="caption"></div> -->
          <div class="rallonge"></div>
        </div>
        <div class="pic pic1">
          <%= image_tag "photos/resize/creation/abstrait/01.jpg", alt: "abstrait" %>
          <%= image_tag "photos/resize/creation/abstrait/02.jpg", alt: "abstrait" %>
          <%= image_tag "photos/resize/creation/abstrait/03.jpg", alt: "abstrait" %>
          <%= image_tag "photos/resize/creation/abstrait/04.jpg", alt: "abstrait", :class => "horizontal"  %>
          <%= image_tag "photos/resize/creation/concept/01.jpg", alt: "concept" %>
          <%= image_tag "photos/resize/creation/concept/02.jpg", alt: "concept" %>
          <%= image_tag "photos/resize/creation/concept/03.jpg", alt: "concept", :class => "horizontal"  %>
          <%= image_tag "photos/resize/creation/concept/04.jpg", alt: "concept" %>
          <%= image_tag "photos/resize/creation/concept/05.jpg", alt: "concept" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide2">
      <div class="gallery">
        <h2>e r o t i q u e & p o r t r a i t</h2>
        <div class="bigpic">
          <%= image_tag "photos/resize/humain/erotique/01.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/02.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/03.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/04.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/erotique/05.jpg", alt: "erotique", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/01.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/02.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/03.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/04.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/05.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/06.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/07.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/08.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/09.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/10.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/11.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/12.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/13.jpg", alt: "portrait", class: "myImg2" %>
        </div>
        <div class="bigpic bigpic3">
          <%= image_tag "photos/resize/humain/portrait/14.jpg", alt: "portrait", class: "myImg2" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide3">
      <div class="gallery">
        <h2>n a t u r e</h2>
        <div class="d-flex justify-content-between">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/01.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/02.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/03.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/04.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/05.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/06.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/07.jpg", alt: "photo1", class: "myImg3" %>
          </div>
          <div class="bigpic bigpic4 col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "photos/resize/nature/08.jpg", alt: "photo1", class: "myImg3" %>
          </div>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide4">
      <div class="gallery">
        <h2>d e s i g n</h2>
        <div id="carousel">
          <figure id="spinner">
            <%= image_tag "photos/resize/design/01.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/02.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/03.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/04.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/05.jpg", alt: "design" %>
            <%= image_tag "photos/resize/design/06.jpg", alt: "design" %>

          </figure>
        </div>
        <span style="float:left; bottom:300px;" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
        <span style="float:right; bottom:300px;" class="ss-icon" onclick="galleryspin('')">&gt;</span>
      </div>
      <div class="rallonge"></div>
    </div>

    <div class="slide" id="slide5">
      <div class="gallery">
        <h2>r u r a l & u r b a i n</h2>
        <div id="bigpic5" class="bigpic">
          <%= image_tag "photos/resize/paysage/rural/01.jpg", alt: "photo1" %>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>

  </div>

  <div class="section " id="section0">
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
        <span id="AboutDevTypeText" class="typeing"></span><span class='blinker'>&#32;</span>
    </div>

    <div class="slide" id="slide0">
      <h2>m e l o d i e s</h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=7829836/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://threesomeunited.bandcamp.com/album/faur-saudade-rn147-ep">Faur - Saudade RN147 EP by Faur</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3576540185/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://threesomeunited.bandcamp.com/album/radion-supernature-ep">Radion - Supernature EP by Radion</a></iframe>
          </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1502144937/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm-021-formative-dubs-ep">BFDM 021 // FORMATIVE DUBS EP by JONQUERA</a></iframe>            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1406850086/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm-020-dogs-fart-is-so-bad-the-cat-throws-up">BFDM 020 // DOG&#39;S FART IS SO BAD THE CAT THROWS UP by J-ZBEL</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1397147831/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm-019-naked-light-ep">BFDM 019 // NAKED LIGHT EP by BASSES TERRES</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3124234616/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm010-les-portes-du-brionnais">BFDM010 // LES PORTES DU BRIONNAIS by The Pilotwings</a></iframe>            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2695233198/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm007-hyena-sticks-head-in-elephants-butt">BFDM007 // HYENA STICKS HEAD IN ELEPHANT&#39;S BUTT by J-Zbel</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3184756936/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm016-pour-faire-pleurer-les-ch-meurs-ep">BFDM016 // POUR FAIRE PLEURER LES CHÔMEURS EP by THE PILOTWINGS</a></iframe>            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="ClassCSS">
              <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4187981005/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://bfdm.bandcamp.com/album/bfdm014-pogdance-ep">BFDM014 // POGDANCE EP by Simo Cell</a></iframe>            </div>
          </div>
        </div>
      </div>
      <div class="rallonge"></div>
    </div>
    <div class="slide" id="slide1">
      <div id="background">
      </div>
        <%= video_tag "1393.mp4", id: "myVideo", loop: "", muted: "", type: "" "video/mp4", data: { autoplay: "null" } %>
        <h2 id="map">↑ flash ↓ tv ← melodies → notes</p>

    </div>

    <div class="slide" id="slide2a">
      <div class="row" style="justify-content: center;">
        <form action="https://formspree.io/xrgapyzy" method="POST">
         <div class="form-group">
          <label style="width: 100%;">
            e m a i l:
            <input class="form-control" type="text" name="_replyto" style="text-align: center;">
          </label>
        </div>
        <div class="form-group">
          <label>
            m e s s a g e:
            <textarea class="form-control" name="message" style="max-height: 150px;"></textarea>
          </label>
        </div>
        <br>
        <button type="submit" class="spin circle real">S E N D</button>
      </form>
      </div>
      <!-- <div class="rallonge"></div> -->
    </div>
  </div>

  <div class="section" id="section2">
      <div class="panels">
        <div class="panel panel1">
          <p class="opacite">* * *</p>
          <p class="play opacite">U N    O C E A N O  N O S    U N E</p>
          <p class="js-modal-youtube play" data-video-id="sBwaeeSgJZA">p l ▶ y</p>
        </div>
        <div class="panel panel2">
          <p class="opacite">* * *</p>
          <p class="play opacite">I M W T</p>
          <p class="js-modal-youtube play" data-video-id="IKLsjYcglU8">p l ▶ y</p>
        </div>
        <div class="panel panel3">
          <p class="opacite">* * *</p>
          <p class="play opacite">S U C C U M B</p>
          <p class="js-modal-youtube play" data-video-id="rmJkNMSejL8">p l ▶ y</p>
        </div>
        <div class="panel panel4">
          <p class="opacite">* * *</p>
          <p class="play opacite">L I T T L E    C H A N D L E R</p>
          <p class="js-modal-youtube play" data-video-id="ew5XlNW9-1Q">p l ▶ y</p>
        </div>
        <div class="panel panel5">
          <p class="opacite">* * *</p>
          <p class="play opacite">B A I L A N D O</p>
          <p class="js-modal-vimeo play" data-video-id="426228708">p l a y</p>
        </div>
      </div>
</div>

<script>
  var angle = 0;
function galleryspin(sign) {
spinner = document.querySelector("#spinner");
if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
}
</script>
