<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/path/to/modal-video.min.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script type="text/javascript">
      function goToAnchor() {
        setTimeout(function() {
          fullpage_api.silentMoveTo(2,1);
          gsap.to("#background", {duration: 6, delay: 1, opacity: 0});
          setTimeout(function() {
            document.querySelector('#background').remove();
            }, 6000);
        }, 6000);
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.5/fullpage.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body onload=goToAnchor()>
    <%= yield %>
    <div class="cursor"></div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'scrolloverflow' %>
    <%= javascript_pack_tag 'fullpage' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'cursor' %>
    <%= javascript_pack_tag 'gallerie' %>
    <%= javascript_pack_tag 'terminal' %>
    <%= javascript_pack_tag 'norefresh' %>
    <%= javascript_pack_tag 'cinema' %>
    <%= javascript_pack_tag 'iframe' %>

<!--     //le script à lancer en fin de page
 -->
    <script type="text/javascript">
            var myFullpage = new fullpage('#fullpage', {
        sectionsColor: ['#000000', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
        anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
        navigation:true,
        slidesNavigation: true,
        // scrollHorizontally: true,
        navigationTooltips: ['f l a s h', '', 't v'],
        showActiveTooltip: true,
        scrollOverflow: true,
        scrollingSpeed: 1700,
        menu: '#menu',
        licenseKey: '7D72BD02-D9324668-A20A7371-BA347154',
        afterResponsive: function(isResponsive){

        },
        onLeave: function(origin, destination, direction){
            var params = {
                origin: origin,
                destination:destination,
                direction: direction
            };

            // Pour faire arriver les flèches de côté tkrl
            if (params.destination.anchor === "secondPage") {
              gsap.from(".fp-prev", {duration: 6, x: -100, opacity: 0, scale: 0.5});
              gsap.from(".fp-next", {duration: 6, x: 100, opacity: 0, scale: 0.5});
            }
            if (params.destination.anchor === "3rdPage") {
              gsap.from(".fp-prev", {duration: 6, x: -100, opacity: 0, scale: 0.5});
              gsap.from(".fp-next", {duration: 6, x: 100, opacity: 0, scale: 0.5});
            }
            // pour enlever le texte du terminal quand on quitte le lieu
            // const terminal = document.querySelector('#AboutDevTypeText');
            // terminal.innerHTML = "";

            if (params.destination.anchor === "secondPage") {
              if (params.origin.anchor === "firstPage") {
                fullpage_api.moveSlideRight();
              }
              if (params.origin.anchor === "3rdPage") {
                fullpage_api.moveSlideRight();
              }
            }
        },
        onSlideLeave: function(section, origin, destination, direction){
            var params = {
                section: section,
                origin: origin,
                destination: destination,
                direction: direction
            };
            if (params.section.anchor === "secondPage" && params.destination.isFirst === true) {
              // gsap.from(".ClassCSS", {duration: 1, x: 300, opacity: 0, delay: 0.2, scale: 0.5});
              gsap.to(".ClassCSS", {
              duration: 1,
              x: 0,
              opacity: 1,
              delay: 0.8,
              stagger: 0.2,
              ease: "expo",
              force3D: true
              });
            } else {
              setTimeout(function() {
                gsap.to(".ClassCSS", {duration: 0.2, x: 400, opacity: 0});
              }, 1500);
            }

        },
        afterRender: function(){
        },
        afterResize: function(width, height){
        },
        afterSlideLoad: function(section, origin, destination, direction){
            var params = {
                section: section,
                origin: origin,
                destination: destination,
                direction: direction
            };
        },
        afterLoad: function(origin, destination, direction){
            var params = {
                origin: origin,
                destination: destination,
                direction: direction
            };
            console.log(params);
            if (params.destination.anchor === "secondPage" && params.destination.index === 1) {
              // gsap.from(".ClassCSS", {duration: 1, x: 300, opacity: 0, delay: 0.2, scale: 0.5});
              gsap.to(".ClassCSS", {
              duration: 1,
              x: 0,
              opacity: 1,
              delay: 0.8,
              stagger: 0.2,
              ease: "expo",
              force3D: true
              });
            } else {
              setTimeout(function() {
                gsap.to(".ClassCSS", {duration: 0.2, x: 400, opacity: 0});
              }, 1500);            }
        }
    });
    </script>

  </body>
</html>
